@keyframes Scroll {
    0% {
        opacity: 0;
    }
    10% {
        transform: translateY(0px);
        opacity: 1;
    }
    100% {
        transform: translateY(80px);
        opacity: 0;
    }
}

svg #wheel {
    animation: Scroll cubic-bezier(0.15, 0.41, 0.69, 0.94) 2.2s infinite;
}
